.container {
  padding: 2rem 1rem;
  margin: 0 auto;
}

.container__child {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: "650px") {
  .container {
    padding: 0rem 1rem;
    max-width: 90vw;
  }
}

@media screen and (min-width: "800px") {
  .container {
    max-width: 90vw;
  }

  .container__Child {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: "1200px") {
  .container {
    max-width: 70vw;
    margin: 0 auto;
  }
}
