* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  letter-spacing: 1px;
  line-height: 2;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited,
a:link,
a:hover,
a:active {
  color: black;
}
