@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
<<<<<<< HEAD
@import "./normalize.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./general.scss";
@import "./class.scss";
=======
@import "./main.scss";
>>>>>>> master
@import "./path.scss";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  letter-spacing: 1px;
  line-height: 2;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited,
a:link,
a:hover,
a:active {
  color: black;
}
