@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

p {
  letter-spacing: 1px;
  line-height: 2;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.main__image {
  display: none;
}

.main__buttons {
  display: none;
}

.title {
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
  margin: 0 0 50px 0;
}

.title span {
  color: #0070f3;
}

@media screen and (min-width: 750px) {
  .main__buttons {
    display: block;
    display: flex;
    justify-content: center;
  }

  .btn {
    display: block;
    width: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    padding: 1rem;
  }
}

@media screen and (min-width: "800px") {
  .title {
    font-size: 4rem;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .main__buttons {
    display: block;
    display: flex;
    justify-content: start;
  }
}

@media screen and (min-width: 1400px) {
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__text {
    width: 70%;
  }

  .main__image {
    display: block;
    width: auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
